<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Form Builder</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <button class="btn btn-outline-primary p-2 mr-2" (click)="this.componentEvent.event.next(openForm)" >
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <span class="ml-2">Open</span>
        </button>
        <button class="btn btn-outline-primary p-2 mr-2" (click)="this.componentEvent.event.next(copyForm)" >
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          <span class="ml-2">Copy</span>
        </button>
        <button class="btn btn-primary p-2 mr-2" (click)="this.componentEvent.event.next(previewForm)">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <span class="ml-2">Preview</span>
        </button>
        <button class="btn btn-outline-success p-2 mr-2" (click)="this.componentEvent.event.next(viewSource)">
          <i class="fa fa-code" aria-hidden="true"></i>
          <span class="ml-2">View Source</span>
        </button>
        <button class="btn btn-outline-success p-2 mr-2" (click)="this.componentEvent.event.next(downloadForm)">
          <i class="fa fa-download" aria-hidden="true"></i>
          <span class="ml-2">Download</span>
        </button>
      </nav>
    </div>

<router-outlet></router-outlet>
