<ng-template #openTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-primary">Open form</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="open-form-banner mb-2">
    </div>
    <div class="col-12">
      <ngx-dropzone [multiple]="false" [accept]="'application/json'" (change)="onSelectForm($event)">
        <ngx-dropzone-label>Upload a *.json form</ngx-dropzone-label>
      </ngx-dropzone>
    </div>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalRef?.hide()" data-dismiss="modal">Close</button>
      </div>
</ng-template>

<div class="col-12">
<form-builder #formBuilder [form]="form" (change)="onChange($event)"></form-builder>
</div>
