
.open-form-banner {
  // background-image: url('/assets/img/open-banner.png');
  // background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: -15px;
  margin-right: -15px;
  height: 140px;
  width: 100%;
}

.ace_editor {
  font: 14px 'Source Code Pro';
}

.modal-xl {
  .modal-content {
    min-height: 90vh;
  }
}
